<html>

<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">Thanks for submitting the feedback. We'll get back to you soon.</p>
        <hr>
        
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/hc" role="button">Continue to homepage</a>
        </p>
      </div>
</body>
</html>